CSV file and TSV file
```

In [ ]:
# Reading the csv file
import pandas as pd
df = pd.read_csv("data.csv")

In [ ]:
# parameter sep
df = df.read_csv("data.csv", sep = ',')   # however its by default for csv file

# to read the tsv file set sep = /t

df = df.read_csv("data.tsv", sep = '/t')

Name parameter --> if  a dataset doesn't have a header then pass the array of header/column names inside a name parameter

In [ ]:
df = df.read_csv("data.csv", name = ['S.No','Name', 'enroll','result'])

3. Index_col

In [ ]:
# to convert some column as index

df = df.read_csv("data.csv", index_col = 'enrollment')

4. Header Parameter

In [ ]:
#IF we have to assign first row or any row of dataset as header names then do 

df = df.read_csv("data.csv", header=1) # 1 --> first row of dataset

5. use_col

In [ ]:
# use only some of the columns of the dataset

pd.read_csv('data.csv', usecols=['enroll','name']) # and it drops rest of the columns of the dataset

6. Sequeeze

In [ ]:
#use one col and sequeze it into series

df = df.read_csv("data.csv", usecols=['enroll'], squeeze = True)

7. Skiprows/nrows

In [ ]:
df = df.read_csv("data.csv", skiprows =[0,5])

df = df.read_csv("data.csv", nrows=100)

8. Encoding

In [ ]:
#by default encoding is utf8 but we can have different encoding, to read them use

df = df.read_csv("data.csv", encoding ='latin-1')


# the error it will be throwing is * UnicodeDecodeError *   ----> means its not able to read this encode of data if encoding is default

9. Skip bad lines

In [ ]:
# suppose if we have some rows having extra number of columns then other rows 

df = df.read_csv("data.csv", error_bad_lines= False)

10. dtype

In [ ]:
# suppose if one row while reading the data is detected as float data type but u want it to be int type then do

df = df.read_csv("data.csv", dtype={'col_name', int}

11. Handling Dates

In [ ]:
# want to read date column as date 

pd.read_csv('data.csv', Parse_dates = [column_name])

12. Converters

In [ ]:
# want to convert some name to alias

def rename(name):
  if name == "Jammu and Kashmir":
    return "J&K"
  else:
    return Name

df = df.read_csv("data.csv", converters = {"Col_Name":rename})

13. na_values

In [ ]:
# if u want to consider some notation to be read as NAN value 

df = df.read_csv("data.csv", na_values=['-','/','\','NAN']) # is the list of values to be considered as NAN

14. Loading a huge dataset in chunks

In [ ]:
df = df.read_csv("data.csv", chunks = 5000)

for chunks in df:
  # perform any operation